<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio</title>

    <!-- letra nombre del local -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Lemon&family=Satisfy&display=swap" rel="stylesheet">
    <!-- letra chica -->
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Lemon&family=Satisfy&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <!-- HASTA AQUI NOMBRE DEL LOCAL -->
    <!-- link para el icono -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- kink bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <header>
            <section class="container-1">
                <section class="nombre">
                    <h1 class="satisfy-regular">Aroma de Buenos Aires</h1></p>

                    <h3 class="teko">Café de Especialidad</h3>

                </section>
                <section class="promocion">
                  <p> 3 y 6 CUOTAS SIN INTERÉS | ENVÍO GRATIS A PARTIR DE $79.999 </p>
                </section>
                <section class="login-registro">
                  {% if user.is_authenticated %}
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa-solid fa-user fa-2x" style=" color: #F4A300;"></i>
                      </a>
                      <div class="dropdown-menu">
                        <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
                      </div>
                    </div>
                    <a href="{% url 'ver_carrito' %}" class="icono-carrito">
                      <i class="fa-solid fa-cart-shopping fa-2x"></i>
                    </a>

                  {% else %}


                    <p><a href="{% url 'login' %}">

                        <i class="fa-solid fa-user fa-2x" style=" color: #F4A300;"></i>
                    </a></p>
                  {% endif %}
                </section>

            </section>
    </header>
    <main>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="{% url 'inicio' %}">Home</a></li>
                </ul>
            </nav>
        </section>
        <section class="contacto">
        <h1>Déjanos tu mensaje</h1>
        {% if messages %}
        <div class="mensaje-exito">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST" action="{% url 'contacto' %}">
        {% csrf_token %}

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Tu correo electrónico" required>

            <label for="motivo">Selecciona un motivo de contacto</label>
            <select id="motivo" name="motivo" required>
                <option value="">Selecciona una opción</option>
                <option value="sugerencia">Sugerencia</option>
                <option value="queja">Queja</option>
                <option value="otro">Otro</option>
            </select>

            <label for="mensaje">Tu mensaje</label>
            <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí" rows="5" required></textarea>

            <button type="submit">Enviar</button>
        </form>

        <div id="mensaje-exito" class="mensaje-exito" style="display: none;">
            <p>Formulario enviado con éxito. ¡Gracias por contactarnos!</p>
        </div>
    </section>
    </main>



    <footer>
        <p>&copy; 2024 Aroma de Buenos Aires. Todos los derechos reservados.</p>

        <p>Sitio creado por ColmenCoder</p>

    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
