<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Inicio de Sesion</h1>
    <form method="post">
        {% csrf_token %}
        <label for="usarname">Nombre de usuario</label>
        <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
        <button type="submit">Iniciar sesión</button>
    </form>
    {% if error %}
        <p>{{ error}}</p>
    {% endif %}

    <h2>¿No tienes cuenta?</h2>
    <p><a href="{% url 'registro_usuario' %}">Regístrate</a></p>
</body>
</html>