<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <h2>{{ producto.nombre }} - {{ producto.precio }}$</h2>
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="200">
                {% else %}
                    <p>No hay imagen disponible</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


</body>
</html>
